*{
    padding: 0;
    margin: 0;
    background-color: bisque;
}

#grid  {
    justify-self: center;
    background-color:black;
    padding: 20px;
    width: 1500px;
    height: 750px;
   display: grid;
    grid-template-columns: repeat(5,200px); 
    grid-template-rows: repeat(3,150px); 
    /* gap: 10px 10px; */
    /* align-items: start; */
    /* align-items: end; */
    /* align-items: center; */

    /* align-content: start; */
    /* align-content: end; */
    /* align-content: center; */


    /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: end; */

    /* justify-items: start; */
    /* justify-items: end; */
    /* justify-items: center; */


}

.boxes {
    /* height: 50px; */
   /* width: 150px; */
    font-size: 30px;
    font-weight: 100;

    display: grid;
    align-items: center;
    justify-items: center;
}

/* #grid  {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
     grid-template-columns: repeat(5,1fr); 
     gap: 10px 10px;
     grid-auto-rows: minmax(150px,auto); 
     justify-content: center;
 }
 
 .boxes {
     display: flex;
     height: 50px;
     width: 150px; 
     font-size: 50px;
     font-weight: 100;
     flex-basis: 20%;
 } */

.boxes:nth-child(2n){
    background-color: chartreuse;
}

.boxes:nth-child(2n+1){
    background-color: blueviolet;
}