h1 {
  /*1*/
  font-size: 60px;
}
/*
1
*/
h1 {
  color: brown;
}
/*
1+1 - 2
*/
div h1 {
  color: blueviolet;
}
/*
100
*/
#testing {
  color: chartreuse;
}
/*
10
*/
.testClass {
  color: aqua;
}
/*
1+1+1-3
*/
div div h1 {
  color: chocolate;
}
/*
1+1+1-3
*/
div div h1 {
  color: darkgreen;
}
/*1+1 -2*/
img + p {
  color: blue;
}
/*
div.grandParent will get an element which is a child of div and having a class   grandParent
*/
div.grandParent > p {
  color: rgb(40, 77, 64);
  font-weight: bolder;
  font-size: 30px;
}
/*
div#newBorn will get an element which is a child of div and having a id newBorn   grandParent
*/
div#newBorn > p {
  color: rgb(50, 18, 92);
  font-weight: bolder;
  font-size: 50px;
}
