.newLayout1 {
  background: pink;
  display: flex;
  /*flex-direction: column; */
  flex-direction: row; /* DEFAULT*/

  padding-left: 10px;
}

/*This applied to all Chaild div tags */
.newLayout1 div {
  flex-basis: 500px;
  height: 100px; /* Will work Accordingly */
  width: 200px; /** Will get overridden by flex-basis */
  border: 2px solid blueviolet;
  margin: 10px;
  margin-right: 10px;
  margin-left: 0px;
  background-color: yellowgreen;
}

.newLayout2 {
  background: skyblue;
  display: flex;
  flex-direction: column;
  /*flex-direction: ;  DEFAULT*/
  margin-top: 10px;
  padding-top: 10px;
  width: max-content;
}

/*This applied to all Chaild div tags */
.newLayout2 div {
  flex-basis: 125px;
  height: 100px; /** Will get overridden by flex-basis */
  width: 135px; /* Will work Accordingly */
  border: 2px solid blueviolet;
  margin: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
  background-color: yellowgreen;
}
