@media (min-width: 468px) {
  .container-1 {
    display: flex;
    /*
    align-items:flex-start;
    align-items:flex-end;
    align-items:center;
    
    flex-direction:column;
    */
  }

  .container-2 {
    display: flex;
    /*
    justify-content:flex-start;
    justify-content:flex-end;
    justify-content:center;
    justify-content:space-around;
    */
    justify-content: space-between;
  }
}

.container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-1 div,
.container-2 div,
.container-3 div {
  border: 1px rgb(20, 20, 20) solid;
  padding: 10px;
}

.box-1 {
  flex: 2;
  order: 2;
}

.box-2 {
  flex: 1;
  order: 1;
}

.box-3 {
  flex: 1;
  order: 3;
}

.container-2-box {
  flex-basis: 27%;
}

.container-3-box {
  flex-basis: 12%;
}
