body {
  margin: 0%;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  height: 650px;
  width: 600px;
  flex-direction: row;
  background-color: coral;
  justify-content: center;
  align-items: center;
}

.child {
  height: 200px;
  width: 200px;
  background-color: burlywood;
  margin: 5px;
  border: 10px solid blueviolet;
}
