/**
This is  tag selector
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: blue;
  color: blanchedalmond;
  height: 300px;
  width: 500px;
  border-radius: 20px;
}
body {
  background-color: chocolate;
}
/* This is a class selector */
.demo {
  background-color: aquamarine;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  width: fit-content;
  height: fit-content; /*Overiding the Upper conflicting style*/
  border-radius: 5px;
}

/* This is an ID selector*/

#demoid {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  padding-left: 20px;
  padding-top: 20px;
  background-color: yellow;
  color: black;
}

#makeInline {
 background-color: beige;
 display: inline;
}

#makeBlock{
    background-color: beige;
    display: block;
}
