body {
  margin: 0px;
  background-color: rgb(248, 234, 217);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

#title {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 50vh;
  align-items: center;
}

#title > img {
  min-width: 100%;
  width: 100%;
  height: auto;
}

#image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: auto;
}
#image-div > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1.5px solid black;
}

#img-caption,
#tribute-info,
#tribute-info-2 {
  text-align: center;
  margin: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}

#img-caption {
  background-color: rgb(228, 207, 228);
  border: 1.5px solid black;
  padding: 20px;
  min-width: 100%;
  width: 100%;
  border-radius: 10px;
  font-style: italic;
}
